<!DOCTYPE html>
<html>
<head>
    <title>TypeSpriteJS Game | Vanilla JS Style</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <style>
        html, body {
            padding: 0;
            margin: 0;
            background: #446;
            color: #eee;
        }
        * {
            box-sizing: border-box;
        }
    </style>
</head>
<body>
    <canvas id="game"></canvas>
    <script type="module" async src="./main.js"></script>
    <noscript>
        No Javascript. Please enable Javascript.
    </noscript>
</body>
</html>